/* IMPORTS */

@import url(../node_modules/minireset.css/minireset.min.css);

/* VARIABLES */

:root {
  --text-style-h1: 2.986rem;
  --text-style-h2: 2.488rem;
  --text-style-h3: 2.074rem;
  --text-style-h4: 1.728rem;
  --text-style-h5: 1.44rem;
  --text-style-h6: 1.2rem;
  --text-style-p: 1rem;
  --text-style-sm: 0.833rem;
  --text-style-xs: 0.694rem;
}

/* TYPOGRAPHY */

html,
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.728;
  color: #262626;
}

.text-style-h1,
.text-style-h2,
.text-style-h3,
.text-style-h4,
.text-style-h5,
.text-style-h6,
.text-style-p,
.text-style-sm,
.text-style-xs {
  margin: 0 0 1.728rem 0;
}

.text-style-h1,
.text-style-h2,
.text-style-h3,
.text-style-h4,
.text-style-h5,
.text-style-h6 {
  font-family: "Homemade Apple", sans-serif;
  font-weight: bold;
  margin: 2.986rem 0 1.728rem 0;
}

.text-style-p,
.text-style-sm,
.text-style-xs {
  font-weight: normal;
}

.text-style-h1 {
  font-size: var(--text-style-h1);
}
.text-style-h2 {
  font-size: var(--text-style-h2);
}
.text-style-h3 {
  font-size: var(--text-style-h3);
}
.text-style-h4 {
  font-size: var(--text-style-h4);
}
.text-style-h5 {
  font-size: var(--text-style-h5);
}
.text-style-h6 {
  font-size: var(--text-style-h6);
}
.text-style-p {
  font-size: var(--text-style-p);
}
.text-style-sm {
  font-size: var(--text-style-sm);
}
.text-style-xs {
  font-size: var(--text-style-xs);
}

/* ELEMENTS */

body {
  padding: 1rem;
  margin: 0;
  background: url(./assets/images/wood-table-mini.jpg);
  background-size: 100%;
  background-repeat: repeat-y;
}

.content-container {
  position: relative;
  max-width: 1024px;
  padding: 6rem clamp(1rem, 10vw, 12rem) clamp(1rem, 4vw, 4rem)
    clamp(1rem, 10vw, 12rem);
  margin: 2rem auto 0 auto;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: grid;
  grid-template-rows: auto 1fr;
}

.content-container::before {
  position: absolute;
  content: "";
  top: -19px;
  right: 160px;
  z-index: 1000;
  width: 90px;
  height: 150px;
  background: url(./assets/images/paperclip-mini.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-img {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  padding: 1rem;
  margin: -6.5rem 0 2rem 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transform: rotate(4deg);
  border-radius: 0.25rem;
}

.hero-img::after {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  content: "";
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  background: url(./assets/images/cafe-interior-mini.jpg);
  background-size: cover;
  background-position: center bottom;
}

.nav {
  padding: 1rem 0;
  border-bottom: 8px double #262626;
}

.nav button {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1.5rem;
  margin: 0.25rem 0.5rem 0.25rem 0;
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  transition: all 150ms ease-in;
  cursor: pointer;
}

.nav button:hover,
.nav button.active {
  background-color: #eee;
  transition: all 150ms ease-in;
}

.contact p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menu-section {
  font-family: "Poppins", sans-serif;
}

.menu-section:first-of-type {
  margin-top: 0;
}

.menu-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.menu-item {
  padding: 2rem;
  margin: 0;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu-item .name {
  font-size: var(--text-style-h6);
  margin: 0 0 0 0;
}

.menu-item .desc {
  flex-grow: 1;
  margin: 0 0 1rem 0;
}

/* MEDIA QUERIES */

/* @media (min-width: 768px) {
  .content-container {
    grid-template-columns: 200px 1fr;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
} */
